.main_chat_message_list{dta: {message: {id: message.id}}}
  .upper-message
    .main_chat__up_user
      = message.user.name
    .main_chat__up_data
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main_chat__up_content
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
